<div class="container">
  <a href="https://www.nytimes.com{{article.link}}" target="_blank" ><h2>{{article.title}}</h2></a>
  <p id='id' data-id='{{article._id}}'>{{article.summary}}</p>
  <h2>Comment</h2>
  {{#each article.comment}}
    {{this.body}}
  {{/each}}


  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Comment</label>
      <textarea class="form-control" id="comment" rows="3"></textarea>
    </div>
    <button id="saveComment" type="submit" class="btn btn-primary">Submit</button>
  </form>


</div>


<script>
  $(document).on("click", "#saveComment", function() {

    var thisId = $('#id').attr("data-id");

    $.ajax({
      method: "POST",
      url: "/articles/" + thisId + "/comments",
      data: {
        body: $("#comment").val()
      }
    })
      .then(function(data) {
        console.log(data);
        $("#comment").empty();
      });

    $("#comment").val("");
    location.reload();
  });
</script>

